<ion-header>
    <ion-toolbar>
       <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
      <ion-title>
        Case Study
      </ion-title>
    </ion-toolbar>
  </ion-header>



<ion-content padding>
  <div *ngIf="post$ | async as post">
    <div class="content" [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.content.rendered)"></div>
  </div>
    
  <!--   <button (click)="shareTwitter()"><ion-icon name="logo-twitter"></ion-icon></button>
  <button (click)="shareEmail()"><ion-icon name="send"></ion-icon></button>
  <button (click)="shareFacebook()"><ion-icon name="logo-facebook"></ion-icon></button>
  <button (click)="shareWhatsApp()"><ion-icon name="logo-whatsapp"></ion-icon></button>
  <button ion-button round icon-left outline  mode="ios" color="tylersfont" (click)="shareWhatsApp()">
              <ion-icon name="share"></ion-icon>
              <b>Share</b>
              </button> -->