.featured_image {
    max-width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    max-height: 300px;
    width: auto;
    overflow:hidden;
    background-size: cover;
}

h1{
    margin-top: 300px;
}

div.elementor-section-wrap{
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align:center;
}